package pages

import (
	"ozkansen.com/internal/i18n"
	"ozkansen.com/internal/views/components"
	"ozkansen.com/internal/views/layout"
)

templ Home(tr *i18n.Translator) {
	@layout.Base(tr.T("meta.title"), tr, "") {
		@components.Hero(tr)
		@components.Services(tr)
		@components.Work(tr)
		@components.About(tr)
		@components.Testimonials(tr)
		@components.Blog(tr)
		@components.Contact(tr)
	}
}
